<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        
        img {
            max-width: 100%;
            height: auto;
            margin: 20px;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
	        margin-top: 80px;
        }
        .image {
            margin: 10px;
        }
    </style>
</head>
<body>
  <a href="/" class="top-right">Home</a>
    <h2 id="synclabel" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0.0; pointer-events: none;">updating screen...</h2>

    <script src="static/script.js"></script>
    
    <div class="container">
        {% for image in images %}
            <div class="image" onclick="updateDisplayFromGallery('{{ image }}')" style="cursor: pointer;">
                <a href="javascript:void(0);">
                    <img src="{{ url_for('static', filename='thumbnails/' ~ image) }}" alt="Thumbnail">
                </a>
            </div>
        {% endfor %}
    </div> 
</body>
</html>
