<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="static/styles.css">
    <style>
        html::-webkit-scrollbar {
            display: none;
        }

        html {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 130px;
        }

        .image {
            max-width: 100%;
            height: auto;
            margin: 20px;
        }
    </style>
</head>

<body>
    <a href="/" class="top-left">Home</a>
    <a href="/canvas" class="top-right">Canvas</a>
    <h2 id="synclabel">updating screen...</h2>

    <script src="static/shared.js"></script>
    <div class="container">
        {% for image in images %}
        <div class="image" onclick="updateDisplayFromGallery('{{ image }}')" style="cursor: pointer;">
            <a href="javascript:void(0);">
                <img src="{{ url_for('static', filename='thumbnails/' ~ image) }}" alt="Thumbnail">
            </a>
        </div>
        {% endfor %}
    </div>
    <script>
        function updateDisplayFromGallery(filename) {
            console.log('using ', filename)
            doLabel();
            fetch(`/display_image/${filename}`)
                .then(response => {
                    var response = JSON.parse(this.responseText);
                    console.log('Server responded with:', response);
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>

</html>